@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-viagem">
    <h1 class="display-4">Passo&Certo</h1>
    <p>Seja Bem-Vindo!</p>
    <p>"Faça dos seus pequenos momentos histórias inesquecíveis!"</p>
</div>


<div class="pacote-viagens">
    <h2>Pacotes de viagens:</h2>

    <div id="carouselExampleIndicators" class="carousel slide carousel-viagens" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block w-100 imagem1" alt="Primeiro Slide"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Viagens de verão</h5>
                    <p>Praias, Caribe, Havaí...</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 imagem2" alt="Segundo Slide"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Viagens rústicas</h5>
                    <p>Castelos européus, Luxemburgo, entre outros...</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 imagem3" alt="Terceiro Slide"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Viagens aventureiras</h5>
                    <p>Montanhas, trilhas, cachoeiras e desertos...</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 imagem4" alt="Quarto Slide"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Viagens românticas</h5>
                    <p>Veneza, Paris, entre outros...</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</div>
<div class="sobre">
    <h2>Sobre nós:</h2>
    <p>Somos uma agência de viagens com o foco na sua experiência.
        Existimos para lhe propor momentos inesquecíveis, para eternizar os
        pequenos momentos felizes da vida e para abalar o seu mundo
        te tirando do ócio e do tédio. Venha com a gente e vivenciar uma
        experiência única!</p>
</div>
