@model AgenciaViagens.Models.Viagem


@{
    ViewData["Title"] = "Cadastro de Viagem";
}

<div class="titulo">
    <h4>Cadastro de Viagem</h4>
</div>

<div class="d-flex justify-content-center row">
    <div class="col-md-4 formulario">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-left">
                <label asp-for="destinoViagem" class="control-label">Destino:</label>
                <input asp-for="destinoViagem" placeholder="Digite o destino da viagem" class="form-control" />
                <span asp-validation-for="destinoViagem" class="text-danger"></span>
            </div>
            <div class="form-group text-left">
                <label asp-for="preco" class="control-label">Preço:</label>
                <input type="number" asp-for="preco" placeholder="Digite o valor da viagem" class="form-control" />
                <span asp-validation-for="preco" class="text-danger"></span>
            </div>
            <div class="form-group text-left">
                <label asp-for="taxas" class="control-label">Taxas:</label>
                <input type="number" asp-for="taxas" placeholder="Digite a porcentagem das taxas"
                    class="form-control" />
                <span asp-validation-for="taxas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="botao-controlador">
    <a class="nav-link text-dark" aria-describedby="Listar usuários cadastrados" asp-area="" asp-controller="Home"
        asp-action="Index">
        <img src="~/assets/arrow_circle_left.svg" alt="">
    </a>
    <a aria-label="Listar usuários cadastrados" asp-action="Index">
        <img src="~/assets/arrow_circle_right.svg" alt="">
    </a>
</div>
